.custom-button {
    padding: 0.5rem 1rem;
    background-color: rgb(240,240,240);
    color: black;
    border: none;
    border-radius: 10px;
    font-size:1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.custom-button:hover {
    background-color: rgb(225, 225, 225);
}